/****************** MIXINS ***********************/

@mixin escritorio {
  @media screen and (min-width: #{$escritorio}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$tablet}) {
    @content;
  }
}

@mixin reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  ul {
    list-style: none;
  }
}
