/***************** VARIABLES ****************/

/* fuente */
$fuente: "Gothic A1", sans-serif;
$fuenteBoton: "Oswald", sans-serif;
$tamano_h1: 2.8rem;
$tamano_h2: 1.6rem;
$tamano_h3: 1.4rem;
$tamano_p: 1.2rem;
$tamano_i: 1.5rem;

/* colores */
$color_header: #ffffff;
$bg_article_aside: #f2f2f2;
$colorSpan: #536dfe;
$bg_boton1: #455a64;
$bg_boton2: #536dfe;
$color_footer: #ffffff;

/* imagenes */
// mirar problema con las rutas de las imagenes, no se muestran al abrir el html pero si abro un servidor local si se muestran
$bg_header: url(../../img/fondo.jpg);
$bg_image_footer: url(../../img/contacto.jpg);

/* media queries */
$escritorio: 1024px;
$tablet: 762px;
$telefono: 480px;

/* otros */
$sombra: 5px 5px 5px gray;
